<div class="calendar">
  <% calendar.each do |day| %>
    <div class="calendar-entry">
      <div class="calendar-entry-header">
        <%= day_display(day[:day]) %>
      </div>
      <% if day[:meetups] %>
        <%= turbo_stream_from "meetups" %>
        <%= turbo_frame_tag "meetups" %>
        <% day[:meetups].each do |meetup| %>
          <%= turbo_frame_tag dom_id(meetup) do %>
            <div class="meetup">
              <i class="far fa-calendar-alt"></i>
              <%= meetup.contact.first_name %>
              <%= meetup.meetup_day.strftime("%H:%M:%S") %>
              <%= link_to meetup_path(meetup), method: :delete do %>
                <i class="fas fa-times"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <% if day[:reminders] %>
        <%= turbo_stream_from "reminders" %>
        <%= turbo_frame_tag "reminders" do %>
          <% day[:reminders].each do |reminder| %>
            <%= turbo_frame_tag dom_id(reminder) do %>
              <div class="reminder">
                <i class="far fa-bell"></i>
                <%= reminder.contact.first_name %>
                <%= reminder.reminder_day.strftime("%H:%M:%S") %>
                  <%= link_to reminder_path(reminder), method: :delete do %>
                    <i class="fas fa-times"></i>
                  <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
