<div class="calendar">
  <% calendar.each do |day| %>
    <div class="card card-shadow-md calendar-entry">
      <%= turbo_frame_tag "new_meetup" do %>
        <div class="card-head calendar-entry-head">
          <%= day_display(day[:day]) %>
          <%= link_to new_meetup_path(meetup: Meetup.new, date: day, calendar_form: true, display_day: day_display(day[:day]) )do %>
            <i class="fas fa-calendar-plus"></i>
          <% end %>
        </div>
      <% end %>
      <%= turbo_stream_from "meetups_#{day[:day]}" %>
      <%= turbo_frame_tag "meetups_#{day[:day]}" do %>
        <% if day[:meetups] %>
          <% day[:meetups].each do |meetup| %>
            <%= turbo_frame_tag dom_id(meetup) do %>
              <div class="meetup">
                <div class="meetup-info">
                  <i class="far fa-calendar-alt"></i>
                  <%= meetup.contact.first_name %>
                  <%= meetup.meetup_day.strftime("%H:%M:%S") %>
                </div>
                <%= link_to meetup_path(meetup), method: :delete do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <%= turbo_stream_from "reminders_#{day[:day]}" %>
      <%= turbo_frame_tag "reminders_#{day[:day]}" do %>
        <% if day[:reminders] %>
          <% day[:reminders].each do |reminder| %>
            <%= turbo_frame_tag dom_id(reminder) do %>
              <div class="reminder">
                <div class="reminder-info">
                  <i class="far fa-bell"></i>
                  <%= reminder.contact.first_name %>
                  <%= reminder.reminder_day.strftime("%H:%M:%S") %>
                </div>
                <%= link_to reminder_path(reminder), method: :delete do %>
                  <i class="fas fa-times"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      <% if no_meetups_or_reminders?(day) %>
        <%= turbo_frame_tag "new_meetup" do %>
          <div class="open-slot">
            Nothing scheduled for this day!
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
