<div class="calendar">
  <% calendar.each do |day| %>
    <div class="calendar-entry">
      <div class="calendar-entry-header">
        <%= day_display(day[:day]) %>
      </div>
      <% if day[:meetups] %>
        <% day[:meetups].each do |meetup| %>
          <div class="meetup">
            <%= meetup.contact.first_name %>
            <%= meetup.meetup_day.strftime("%H:%M:%S") %>
            <%= link_to meetup_path(meetup), method: :delete do %>
              x
            <% end %>
          </div>
        <% end %>
      <% end %>
      <% if day[:reminders] %>
        <% day[:reminders].each do |reminder| %>
          <div class="reminder">
            <%= reminder.contact.first_name %>
            <%= reminder.reminder_day.strftime("%H:%M:%S") %>
            <%= link_to reminder_path(reminder), method: :delete do %>
              x
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
